
extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  #archive
  < .div(id="aplayer-pDAPdwGW" class="aplayer aplayer-tag-marker meting-tag-marker aplayer-withlrc" data-id="0001s0AM0WlXPT" data-server="tencent" data-type="song" data-mode="circulation" data-autoplay="true" data-mutex="true" data-listmaxheight="340px" data-preload="none" data-theme="#ad7a86")
    .article-sort-title= _p('page.articles') + ' - ' + site.posts.length
    +articleSort(page.posts)
    include includes/pagination.pug
  #aside_content.aside_content
    include includes/widget/index.pug
